<div class="logo">
  <%= image_tag 'logo-grey-58.svg', id: 'logo' %>
  Trailblazer
</div>

<div class="form-container">

  <form>

    <h1>Sign In</h1>

    <div class="input-field">
      <label for="email">Email</label>
      <input id="email" type="email" class="validate">
    </div>

    <div class="input-field password">
      <label for="password">Password</label>
      <input id="password" type="password" class="validate">
      <a class="forgot-password" href="#">Forgot password?</a>
    </div>

    <div class="actions actions-default visible">
      <a class="next waves-effect waves-light btn has-loader">
        <span class="text">
          Next
        </span>
        <%= image_tag 'loader.svg', class: 'loader' %>
      </a>
    </div>

    <div class="actions actions-sign-up">
      <a class="sign-up waves-effect waves-light btn has-loader">
        <span class="text">
          Sign Up
        </span>
        <%= image_tag 'loader.svg', class: 'loader' %>
      </a>
    </div>

    <div class="actions actions-sign-in">
      <a class="sign-in waves-effect waves-light btn has-loader">
        <span class="text">
          Sign In
        </span>
        <%= image_tag 'loader.svg', class: 'loader' %>
      </a>
    </div>

    <div class="actions actions-oauth">
      <p>or</p>

      <a class="oauth-google waves-effect waves-light btn has-loader"
        href="/auth/google_apps_chooser">
        <span class="text">
          Sign in with Google
        </span>
        <%= image_tag 'loader.svg', class: 'loader' %>
      </a>

    </div>
  </form>

  <div class="feedback">
    <a href="mailto:hello@trailblazer.io" id="feedback">Send feedback</a>
    <a href="mailto:hello@trailblazer.io" id="bug">Report a bug</a>
  </div>

</div>
