<!-- I see you've discovered my horrible markup (who even uses spacers any
more, wtf). Go you! This message was brought to you by many litres of coffee
and not nearly enough sleep or time. -->

<style type="text/css" media="all">
body {
  background: url("<%= asset_url('sign_in_bg.jpg') %>");
  background-position: center;
  background-size: cover;
  position: relative;
}
</style>

<div class="container">
  <div class="spacer"></div>
  <%= image_tag "logo.png", alt: "Trailblazer" %>

  <div layout vertical center center-justified >
    <tb-sign-in
      signInUrl="<%= sign_in_url %>"
      signUpUrl="<%= sign_up_url %>"
      forgotPasswordUrl="<%= forgot_password_url %>"
      socialUrlGoogle="/auth/google_apps_chooser">
    </tb-sign-in>
  </div>

  <a class="photo-credit" href="https://www.flickr.com/photos/96773764@N03/8907191054/in/pool-freeuse/" target="_blank">Photo credit - Marie Ann Anderson (flickr)</a>

</div>
