<header class="page-header" role="banner">
  <h1>Sign in</h1>
</header>

<main role="main">
  <p class="h4">
    You&apos;ll be signing in to <strong class="text-info"><%= @pre_auth.client.name %></strong> as <%= current_user.name %>
  </p>

  <div class="actions">
    <p>
    <%= form_tag oauth_authorization_path, method: :post do %>
      <%= hidden_field_tag :client_id, @pre_auth.client.uid %>
      <%= hidden_field_tag :redirect_uri, @pre_auth.redirect_uri %>
      <%= hidden_field_tag :state, @pre_auth.state %>
      <%= hidden_field_tag :response_type, @pre_auth.response_type %>
      <%= hidden_field_tag :scope, @pre_auth.scope %>
      <%= submit_tag "Sign in!", class: "btn btn-success btn-lg btn-block" %>
    <% end %>
    </p>

    <p>
    <%= link_to "Change User", change_user_path(return_to: request.url), class: "btn btn-info btn-lg btn-block" %>
    </p>

    <p>
    <%= form_tag oauth_authorization_path, method: :delete do %>
      <%= hidden_field_tag :client_id, @pre_auth.client.uid %>
      <%= hidden_field_tag :redirect_uri, @pre_auth.redirect_uri %>
      <%= hidden_field_tag :state, @pre_auth.state %>
      <%= hidden_field_tag :response_type, @pre_auth.response_type %>
      <%= hidden_field_tag :scope, @pre_auth.scope %>
      <%= submit_tag "Cancel", class: "btn btn-danger btn-lg btn-block" %>
    <% end %>
    </p>
  </div>
</main>
