<h1>Listing classrooms</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Teachers</th>
      <th>Students</th>
      <% if can? :manage, Classroom %>
        <th>Inactive Members</th>
      <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @classrooms.each do |classroom| %>
      <tr>
        <td><%= classroom.name %></td>
        <td><%= classroom.description %></td>
        <td><%= classroom.users.teacher.count %></td>
        <td><%= classroom.users.student.count %></td>
        <% if can? :manage, Classroom %>
          <td><%= classroom.users.inactive.count %></td>
        <% end %>
        <td><%= link_to 'Show', classroom %></td>
        <td><%= link_to 'Edit', edit_classroom_path(classroom) %></td>
        <td><%= link_to 'Destroy', classroom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Classroom', new_classroom_path %>
