<p id="notice"><%= notice %></p>

<h1><%= @classroom.name %></h1>
<p><%= @classroom.description %></p>

<h2>Teachers</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @classroom.users.teacher.each do |teacher| %>
      <tr>
        <td><%= teacher.name %></td>
        <td><%= teacher.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Students</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @classroom.users.student.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if can? :manage, Classroom %>
  <h2>Inactive Members</h2>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
      </tr>
    </thead>

    <tbody>
      <% @classroom.users.inactive.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h2>Administrative Members</h2>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
      </tr>
    </thead>

    <tbody>
      <% @classroom.users.admin.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= link_to 'Edit', edit_classroom_path(@classroom) %> |
<%= link_to 'Back', classrooms_path %>
