<h1>Developer Console</h1>

<h2>Your Applications</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Callback URL</th>
    <th>Last Updated</th>
    <th></th>
  </tr>
  <% @applications.each do |app| %>
  <tr>
    <td><%= link_to app.name, oauth_application_path(app) %></td>
    <td><pre><%= app.redirect_uri %></pre></td>
    <td><%= app.updated_at %></td>
    <td><%= link_to "Edit", edit_oauth_application_path(app.to_param), :class => 'btn waves-effect waves-light grey' %></td>
  </tr>
  <% end %>

</table>
<%= link_to "Create a new application", new_oauth_application_path, :class => 'btn waves-effect waves-light' %>
