<% breadcrumb :new_oauth_application %>

<div class="container">
  <h1>New</h1>

  <% if @application.errors.present? %>
    <ul class="collection">
      <% @application.errors.full_messages.map do |e| %>
        <li class="collection-item red lighten-4"><%= e %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form_for @application, url: doorkeeper_submit_path(@application) do |f| %>
    <div class="section">
      <%= f.label :name %>
      <%= f.text_field :name %><br />
    </div>

    <div class="section">
      <%= f.label :redirect_uri, "Callback URLs (put each additional URI on a new line)" %>
      <%= f.text_area :redirect_uri %><br />
    </div>

    <div class="section">
      <%= link_to "Cancel", oauth_applications_path, :class => 'btn waves-effect waves-light grey' %>
      <%= f.submit "Create Application", :class => 'btn waves-effect waves-light' %>
    </div>
  <% end %>
</div>
