<h1>New</h1>

<%= form_for @application, url: doorkeeper_submit_path(@application) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br />

  <%= f.label :redirect_uri, "Callback URL" %>
  <%= f.url_field :redirect_uri %><br />

  <%= link_to "Cancel", :back, :class => 'btn waves-effect waves-light grey' %>
  <%= f.submit "Create Application", :class => 'btn waves-effect waves-light' %>
<% end %>
