<% breadcrumb :oauth_application, @application %>

<div class="container">
  <div class="row">
    <div class="column s12">
      <h1><%= @application.name %></h1>
    </div>
  </div>

  <div class="row">
    <p class="column s12"><strong>Client ID</strong></p>
    <pre class="column s12"><%= @application.uid %></pre>
  </div>

  <div class="row">
    <p class="column s12"><strong>Secret</strong></p>
    <pre class="column s12"><%= @application.secret %></pre>
  </div>

  <div class="row">
    <h3>Redirect URIs</h3>

    <p>
      The following redirect URIs are white listed for clients using your
      application credentials.
    </p>

    <p>
      You can test each redirect URI individually by tapping "Authorize"
    </p>

    <ul class="collection">
      <% @application.redirect_uri.split(' ').map do |uri| %>
        <li class="collection-item">
          <p>
            <code><%= uri %></code>
            <%= link_to 'Authorize', oauth_authorization_path(client_id: @application.uid, redirect_uri: uri, response_type: 'code' ), class: 'secondary-content' %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="row">
    <div class="column s12">
      <%= link_to "Edit", edit_oauth_application_path(@application), :class => 'btn waves-effect waves-light grey' %>

      <%= link_to "Destroy", oauth_application_path(@application), 'data-confirm' => t('developer.application.confirm_delete'), :method => :delete, 'data-position' => 'top', 'data-tooltip' => "Deletes the application and its credentials.", :class => 'btn tooltipped waves-effect waves-light red' %>
    </div>
  </div>

</div>
