<!-- I see you've discovered my horrible markup (who even uses spacers any
more, wtf). Go you! This message was brought to you by many litres of coffee
and not nearly enough sleep or time. -->

<style type="text/css" media="all">
body {
  background: url("<%= asset_url('sign_in_bg.jpg') %>") no-repeat center center fixed;
  background-position: center;
  background-size: cover;
  position: relative;
}
</style>

<div class="container">
  <div class="spacer"></div>
  <%= image_tag "logo.png", alt: "Trailblazer" %>

  <div layout center vertical center-justified>
    <tb-profile
     profileUrl="<%= current_user_profile_url %>"
     updateProfileUrl="<%= profile_url %>"
     resendConfirmationUrl="<%= resend_confirmation_url %>">
    </tb-profile>

    <%= link_to "Sign Out", sign_out_url, :class => "btn", :id => "sign-out" %>
  </div>

  <a class="photo-credit" href="http://www.publicdomainpictures.net/view-image.php?image=26281&picture=road-in-a-field&large=1" target="_blank">Larisa Koshkina</a>

</div>
