<% breadcrumb :profile %>

<div class="container">
  <div class="row">
    <div class="col s12">
      <h1>Preferences</h1>
      <div class="chip">
        <% if current_user.image.present? %>
          <%= image_tag current_user.image, alt: current_user.name %>
        <% end %>
        <%= current_user.name || current_user.email %>
      </div>
    </div>
  </div>

  <% if flash[:success] %>
    <div class="card green lighten-2">
      <div class="card-content">
        <%= flash[:success] %>
      </div>
    </div>
  <% end %>

  <% if @user.errors.present? %>
    <ul class="collection">
      <% @user.errors.full_messages.map do |e| %>
        <li class="collection-item red lighten-4"><%= e %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="row">
    <div class="col s12 m8 l6">
      <h4>Email</h3>
      <% unless @user.confirmed? %>
        <p>
        You haven't confirmed your new email <%= @user.email %>.<br>
        Didn't get the email? Resend it
        </p>
      <% end %>
      <%= form_tag profile_path, method: :patch do %>
        <%= fields_for @user do |f| %>
          <%= f.label :email, 'Email' %>
          <%= f.email_field :email %>
        <% end %>

        <div class="section">
          <%= button_tag 'Update Email', class: 'btn btn-flat white-text grey darken-2 waves-effect waves-light' %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m8 l6">
      <h4>Password</h3>
      <%= form_tag profile_path, method: :patch do %>
        <%= fields_for @user do |f| %>
          <%= f.label :password, 'Password' %>
          <%= f.password_field :password %>
        <% end %>

        <div class="section">
          <%= button_tag 'Update Password', class: 'btn btn-flat white-text grey darken-2 waves-effect waves-light' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
