<nav>
  <div class="nav-wrapper">
    <% breadcrumbs.tap do |links| %>
      <span id="breadcrumbs">
        <% if links.any? %>
          <% links.each do |link| %>
            <%= link_to link.text, link.url, class: 'breadcrumb' %>
          <% end %>
        <% end %>
      </span>
    <% end %>

    <ul id="nav-mobile" class="right">
      <% if user_signed_in? %>
        <li><%= link_to "Developer Console", oauth_applications_path %></li>
        <li><%= link_to "Preferences", profile_path %></li>
        <li><%= link_to "Sign Out", sign_out_path %></li>
      <% else %>
        <li><%= link_to "Sign In", '/auth/google_apps' %></li>
      <% end %>
    </ul>
  </div>
</nav>
