<h1><%= @domain.domain %></h1>

<a href="https://app.trailblazer.io/app">Teacher Dashboard</a>

<h2>Classrooms</h2>
<p>
  Here are the classrooms currently associated with your domain.
</p>
<script type="text/javascript" charset="utf-8">
  $(document).ready( function() {
    $('.activate-class').submit( function(evt) {
      evt.preventDefault();
      evt.stopPropagation();
      $.post( $(this).attr("action"), function(response) {
        window.location.reload(true);
      });
    });
  });
</script>
<table border="1">
  <tr>
    <th>Name</th>
    <th>Members</th>
    <th>From Google Group?</th>
    <th></th>
  </tr>

  <% @domain.classrooms.each do |classroom| %>
    <tr>
      <td><%= classroom.name %></td>
      <td><%= classroom.users.count %></td>
      <td><%= classroom.group_key.present? ? "Yes" : "No" %></td>
      <td>
        <%= form_tag(activate_classroom_path(classroom), :method => :post, :class => "activate-class") do %>
          <button type="submit">Activate Classmembers</button>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<h2>Users</h2>
<p>
  Here are the users currently associated with your domain.
</p>
<p>
  An activated user that is neither an admin nor a teacher is considered a
  student.
</p>
<p>
  You can activate an entire classroom at once above (recommended) or on an
  individual basis below.
</p>
<%= form_tag(update_roles_users_path, :method => :post) do %>
  <table border="1">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3">Role</th>
      <th>Active</th>
    </tr>
    <tr>
      <th colspan="2"></th>
      <th>Admin</th>
      <th>Teacher</th>
      <th>Student (meta field) <br /><span style="font-size:9px;">student == (active &amp;&amp; !teacher &amp;&amp; !admin)</span></th>
      <th></th>
    </tr>

    <% @domain.users.each do |user| %>
      <%= fields_for "users[]", user do |f| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= f.check_box :admin,    {}, "true", "false" %></td>
          <td><%= f.check_box :teacher,  {}, "true", "false" %></td>
          <td><%= f.check_box :student?, { :disabled => true }, "true", "false" %></td>
          <td><%= f.check_box :active,   {}, "true", "false" %></td>
        </tr>
      <% end %>
    <% end %>

    <tr>
      <td colspan="2"></td>
      <td colspan="4"><input type="submit" name="submit" value="Save" /></td>
    </tr>
  </table>
<% end %>
