<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="//cdnjs.cloudflare.com/ajax/libs/polymer/0.3.3/platform.js" type="text/javascript" charset="utf-8"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js" type="text/javascript" charset="utf-8"></script>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <!-- File generated using vulcanize -->
  <link rel="import" href="/tb-app.vulcanized.html">

</head>
<body unresolved fullBleed>

  <%= yield %>

</body>
</html>
